/Library
/Temp

/Logs
/Logs
Logs/shadercompiler-UnityShaderCompiler.exe-0.log
*.log
/.vscode
BuildWeb.zip
/BuildWeb
BuildWebAhora si.zip
BuildWebESTE SI.zip
EquinoxBuildWeb.zip
Assembly-CSharp.csproj
/Logs
UserSettings/Layouts/default-6000.dwlt
UserSettings/Search.index
/UserSettings
